/* header section */
.bg-color {
  background-color: #f0fff0;
}
#navImg {
  width: 200px;
}
/* main section card */
.card-text {
  font-size: small;
}
body {
  overflow-x: hidden;
}
/* Cources section */
#iconImg {
  width: 66px;
  height: 78px;
}
#c-width {
  width: 270px;
}
